article.tweet {
  border-style: solid;
  border-width: thick;
  color: #545149;
  margin-top: 50px;
  padding: 20px;
 }
 article.tweet:hover {
  box-shadow: 5px 5px 0 #C8C8C8;
 }
 
 article.tweet header {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
 }

 article.tweet header img {
  height: 50px;
}

article.tweet header span {
  padding: 10px;
}

article.tweet header span.handle {
  margin-left: auto;
  color: #f4f1ec;
}

article.tweet:hover header span.handle {
  color: #C8C8C8;
}

article.tweet span {
  padding: 10px;
  overflow-wrap: break-word;
}

article.tweet:hover span {
  font-weight: 600;
}
article.tweet footer {
  border-style: none;
  border-top-style: solid;
  border-width: thick;
  color:#545149;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: 5px;
 }
 
 article.tweet footer span {
  font-size: 15px;
}
article.tweet footer span.interactOptions {
  font-size: 12px;
  margin-left: auto;
}
article.tweet footer span.interactOptions i {
  padding: 5px;
}
article.tweet:hover footer span.interactOptions i {
  color: #eb9412;
}