
body > header {
  height: 400px;
  width: 100%;
  background-color: #c79800;
  margin-top: 120px;
  position: relative;
}

/*
header img {
  position: absolute;
  left: 50%;
  margin-left: -128px;
}

header h2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 67%;
  text-align: center;
}
*/

body > header img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 2%;
}

body > header h2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 67%;
  text-align: center;
}