nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 500;
  padding: 1.5em;
}

#logo {
  font-family: 'Bungee', sans-serif;
} 


#compose-new {
  display: flex;
  flex-direction: column;
}


button {
  background-color: transparent;
  color: #eb0a0a;
  border-style: none;
  cursor: pointer;
  outline: none;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}



@keyframes bounce {
  from {
    padding: 0px;
  }
  to {
    padding: 10px;
  }
}
/*
@media (max-width: 850px) {
  nav {
    background-color: #6699CC;
    background-image: url(../images/arches.png);
  }
}*/

@media (min-width: 851px) {
  nav span i{
    color: #6699CC;
  }
}
