nav {
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  font-family: 'Bungee', sans-serif;
} 


#compose-new {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

button {
  background-color: transparent;
  color: #e2270e;
  border-style: none;
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  outline: none;
}

@keyframes bounce {
  from {
    padding: 0px;
  }

  to {
    padding: 10px;
  }
}
@media (max-width: 851px) {
  nav {
    background-color: #6699CC;
    background-image: url(../images/arches.png);
  }
}


@media (min-width: 850px) {
  nav span i{
    color: #6699CC;
  }
}